<configuration>

    <property name="rootPattern" value="%d{yyyy-MM-dd'T'HH:mm:ss.SSSZZ} [%level] - %msg%n"/>

    <root level="info">
        <appender class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${rootPattern}</pattern>
            </encoder>
        </appender>
    </root>
</configuration>